@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* font-family: 'Open Sans', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Write CSS code below */
body{
    background-color: rgb(129, 146, 146);
}
.main-content{
    background-color: blue;
    margin: 20px auto;
    width: 90%;
    min-height: 1000px;
    display: grid;
    grid-template-columns: 30% 70%;
}
.left-section{
    grid-column: span 1;
    background-color: #003147;
}
.left-content{
    padding: 1rem;
    color: cornsilk;
}
.profile-details{
    width:100%;
}
.profile-image{
    width: 60%;
    display: block;
    margin: 10px auto;
    border: 5px white solid;
    border-radius: 30%;
    /* align-items: center; */
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
/* .contact-item{
    width: 100%;
} */
.social-media{
    /* width: 100%; */
    /* list-style-type: none; */
    display: flex;
    margin: 10px auto;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
}
.icon{
    width: 8%;
    margin: 0px 7%;
}
.personal-details{
    margin: 10px 0px;
}
.contact-details{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font: 0.7em sans-serif;
}
.personal-details .icon{
    width:6%;
    margin: 2px 5%;
}
.skills{
    font-size: 0.75rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0.5rem;
}
.skill-item{
    margin: 15px 0px;
}
.skill-name{
    font-size: 0.65rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin: 5px 0px;
    padding-bottom: 0.5rem;
}
.progress-bar{
    background-color: white;
    border: 1px white solid;
    height: 4px;
    margin: 3px 0px;
}

.right-section{
    background-color: rgb(241, 241, 237);
    grid-column: span 1/span 2;
    /* width: 90%; */
}
.right-main-content{
    padding: 2rem 3rem; 
}
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
@media screen and (max-width: 673px)  {
    .main-content{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 70% 43%;
    }
    .left-section{
        grid-row: 1/span 1;
    }
    .right-section{
        grid-column: 1/span 1;
        grid-row: 2/span 1;
    }
}